<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fab fa-docker"></i>
        </div>
        <div class="sidebar-brand-text mx-3">DockLens</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item {{ 'active' if request.path == '/dashboard/' else '' }}">
        <a class="nav-link" href="/dashboard/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Docker
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item {{ 'active' if request.path == '/dashboard/containers' else '' }}">
        <a class="nav-link" href="/dashboard/containers"><i class="fas fa-fw fa-box"></i> <span>Containers</span></a>
    </li>

    <li class="nav-item {{ 'active' if request.path == '/dashboard/notifications' else '' }}">
        <a class="nav-link" href="/dashboard/notifications"><i class="fas fa-fw fa-bell"></i>
            <span>Notifications</span></a>
    </li>



    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->